<div id="wrapper">
  <aside id="side-menu">
    <nav id="navigation">
      <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item mx-3">
          <%= sidebar_link_to(mypages_path, "ðŸ§", "ãƒžã‚¤ãƒšãƒ¼ã‚¸") %>
        </li>
        <li class="nav-item mx-3">
          <%= sidebar_link_to(nil, "ðŸ¶", "Myæœ¬æ£š") %>
        </li>
        <li class="nav-item mx-3">
          <%= sidebar_link_to(nil, "ðŸ±", "èª­æ›¸ç›®æ¨™") %>
        </li>
        <li class="nav-item mx-3">
          <%= sidebar_link_to(nil, "ðŸ¸", "ã‚¢ã‚«ã‚¦ãƒ³ãƒˆè¨­å®š") %>
        </li>
      </ul>
    </nav>
  </aside>
  <main>
    <%= tag.div("ã“ã‚“ã«ã¡ã¯ã€#{current_user.name} ã•ã‚“", class: 'text-end') %>
    <%= render 'shared/flash_message' %>
    <div id="flash">
      <%= render "flash" %>
    </div>
    <%= yield %>
  </main>
</div>