<p style="color: green"><%= notice %></p>

<!-- 見出し -->
<h4 class="fw-bold">
  <span>My本棚</span>
</h4>
<!-- 検索フォーム -->
<div class="card shadow mt-3">
  <div class="card-header">
    <%= icon_with_text("search", "検索条件") %>
  </div>
  <div class="card-body">
    <%= search_form_for @search, html: { data: { turbo_frame: "book-list" } } do |f| %>
      <div class="row g3 mb-3">
        <div class="col-3 col-xl-2">
          <%= f.label :title_cont, "タイトル", class: "form-label" %>
          <%= f.search_field :title_cont, class: "form-control" %>
        </div>
        <div class="col-3 col-xl-2">
          <%= f.label :author_cont, "著者", class: "form-label" %>
          <%= f.search_field :author_cont, class: "form-control" %>
        </div>
        <div class="col-3 col-xl-2">
          <%= f.label :status_eq, "ステータス", class: "form-label" %>
          <%= f.search_field :status_eq, class: "form-control" %>
        </div>
        <div class="col-3 d-flex align-items-end">
          <%= button_tag(icon_with_text("search", "検索"), class: "btn btn-primary me-1") %>
          <%= link_to "リセット", books_path, class: "btn btn-outline-secondary" %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<!-- 一覧 -->
<div class="card shadow mt-3">
  <div class="card-header">
    <%= icon_with_text("table", "一覧") %>
  </div>
  <div class="card-body mx-3">
    <%= turbo_frame_tag "books-list" do %>
      <div class="row py-2">
        <div class="col-4 mt-auto">
          <%= sort_link(@search, :title) %>
        </div>
        <div class="col-4 mt-auto">
          <%= sort_link(@search, :author) %>
        </div>
        <div class="col-4 d-flex justify-content-end">
          <%= link_to icon_with_text("plus-circle", "登録"), new_book_path, class: "btn btn-outline-primary", data: { turbo_frame: "new_book" } %>
        </div>

        <%= turbo_frame_tag "new_book" %>
        <div id="books">
          <%= render @books %>
        </div>

        <div class="d-flex justify-content-end mt-3">
          <%= paginate @books %>
        </div>
      </div>
    <% end %>
  </div>
</div>