<p style="color: green"><%= notice %></p>

<%= render @book %>

<div>
  <%= link_to "Edit this cat", edit_book_path(@book) %> |
  <%= link_to "Back to cats", books_path %>

  <%= button_to "Destroy this cat", @book, method: :delete %>
</div>