<p style="color: green"><%= notice %></p>

<%= render @book %>

<div>
  <%= link_to t('defaults.edit'), edit_book_path(@book) %> |
  <%= link_to t('.back_list'), books_path %>

  <%= button_to t('defaults.delete'), @book, method: :delete %>
</div>