<%= turbo_frame_tag goal do %>
  <%= bootstrap_form_with(model: goal) do |form| %>
    <div class="row py-2 border-top"> 
    <% if action_name == 'new' || action_name == 'create' %>
      <div class="col-3">
          <%= form.text_field :book_title,
                            skip_label: true,
                            label_as_placeholder: true,
                            wrapper: false,
                            control_class: "form-control form-control-sm"
          %>
      </div>
      <div class="col-1">
        <%= form.date_field :start_date,
                              skip_label: true,
                              label_as_placeholder: true,
                              wrapper: false,
                              control_class: "form-control form-control-sm"
        %>
      </div>
    <% else %>
      <div class="col-3 my-auto">
        <% if goal.book %>
          <%= goal.book.title %>
        <% else %>
          <%= goal.book_title %>
        <% end %>
      </div>
      <div class="col-1 my-auto">
         <%= goal.start_date %>
      </div>
    <% end %>
       
      <div class="col-1">
        <%= form.date_field :target_date,
                            skip_label: true,
                            label_as_placeholder: true,
                            wrapper: false,
                            control_class: "form-control form-control-sm"
        %>
      </div>
      <div class="col-1">
        <%= form.number_field :pages_per_day,
                            skip_label: true,
                            label_as_placeholder: true,
                            wrapper: false,
                            control_class: "form-control form-control-sm"
        %>
      </div>
      <div class="col-2">
        <%= form.number_field :reading_pages,
                            skip_label: true,
                            label_as_placeholder: true,
                            wrapper: false,
                            control_class: "form-control form-control-sm"
        %>
      </div>
      <div class="col-4">
        <div class="d-flex justify-content-end">
          <%= form.primary class: "btn btn-primary btn-sm me-2" %>
          <%= link_to "キャンセル", goal, class: "btn btn-sm btn-outline-secondary" %>
        </div>
      </div>
    </div>
     <!-- <%= form.text_field :book_title %>
     <%= form.date_field :start_date %>
     <%= form.date_field :target_date %>
     <%= form.text_field :pages_per_day %>
     <%= form.primary %> -->
  <% end %>
<% end %>
