<!-- è¦‹å‡ºã— -->
<h4 class="fw-bold">
  <span class="me-1">èª­æ›¸ç›®æ¨™</span>
  <span>ðŸ“š</span>
</h4>
<!-- æ¤œç´¢ãƒ•ã‚©ãƒ¼ãƒ  -->
<div class="card shadow mt-3">
  <div class="card-header">
    <%= icon_with_text("search", "æ¤œç´¢æ¡ä»¶") %>
  </div>

  <div class="card-body">
    <%= search_form_for @search, html: { data: { turbo_frame: "goals-list" } } do |f| %>
      <div class="row g3 mb-3">
        <div class="col-3 col-xl-2">
          <%= f.label :book_id_eq, "ã‚¿ã‚¤ãƒˆãƒ«", class: "form-label" %>
          <!--%= f.search_field :book_title_cont, class: "form-control" %-->
          <%= f.collection_select :book_id_eq,
              current_user.books.order(created_at: :desc),
              :id,
              :title,
              { prompt: "æœ¬ã‚’é¸æŠž" },
              { class: "form-control form-control-sm"}
          %>
        </div>
        <div class="col-2 col-xl-2">
          <%= f.label :start_date_gteq, "èª­æ›¸é–‹å§‹æ—¥", class: "form-label" %>
          <%= f.date_field :start_date_gteq, class: "form-control" %>
        </div>
        <div class="col-2 col-xl-2">
          <%= f.label :target_date_lteq, "èª­äº†ç›®æ¨™æ—¥", class: "form-label" %>
          <%= f.date_field :target_date_lteq, class: "form-control" %>
        </div>
        <div class="col-3 col-xl-1">
          <%= f.label :status_eq, "é”æˆçŠ¶æ³", class: "form-label" %>
          <%= f.select :status_eq, Goal.statuses_i18n.invert.map{|key, value| [key, Goal.statuses[value]]}, {include_blank: true}, { class: 'form-control' } %>
        </div>
        <div class="col-2 d-flex align-items-end">
          <%= button_tag(icon_with_text("search", "æ¤œç´¢"), class: "btn btn-primary me-1") %>
          <%= link_to "ãƒªã‚»ãƒƒãƒˆ", goals_path, class: "btn btn-outline-secondary" %>
        </div>
      </div>
    <% end %>
  </div>
</div>

  <!-- ä¸€è¦§ -->
<div class="card shadow mt-3">
  <div class="card-header">
    <%= icon_with_text("table", "ä¸€è¦§") %>
  </div>

  <div class="card-body mx-3">
    <%= turbo_frame_tag "goals-list" do %>
      <div class="row py-2">
        <div class="col-2 mt-auto">
          <%= sort_link(@search, :book_title) %>
        </div>
        <div class="col-2 mt-auto">
          <%= sort_link(@search, :start_date) %>
        </div>
        <div class="col-2 mt-auto">
          <%= sort_link(@search, :target_date) %>
        </div>
        <div class="col-2 mt-auto">
          <%= sort_link(@search, :pages_per_day) %>
        </div>
        <div class="col-2 mt-auto">
          <%= sort_link(@search, :reading_pages) %>
        </div>
        <div class="col-1 mt-auto">
          <%= sort_link(@search, :status) %>
        </div>
        <div class="col-1 d-flex justify-content-end">
          <%= link_to icon_with_text("plus-circle", "ç™»éŒ²"),
                      new_goal_path,
                      class: "btn btn-outline-primary",
                      data: { turbo_frame: dom_id(Goal.new) }
          %>
        </div>
      </div>

      <%= turbo_frame_tag Goal.new %>

      <div id="goals">
        <%= render @goals %>
      </div>

      <div class="d-flex justify-content-end mt-3">
        <%= paginate @goals, theme: 'bootstrap-5' %>
      </div>
    <% end %>
  </div>
</div>

 
 
 <!--- <%# ransackã‚’åˆ©ç”¨ã—ãŸæ¤œç´¢ãƒ•ã‚©ãƒ¼ãƒ ã§ã¯ã€form_withã®ä»£ã‚ã‚Šã«search_form_forã‚’ä½¿ã† %>
   <%= search_form_for @search do |f| %>
    <%# `ã‚«ãƒ©ãƒ å_cont`ã¨ã™ã‚‹ã“ã¨ã§ã€ã‚«ãƒ©ãƒ ã«å¯¾ã—ã¦LIKEã‚’ä½¿ã£ãŸæ›–æ˜§ä¸€è‡´æ¤œç´¢ãŒã§ãã‚‹ %>
    <%= f.label :book_title_cont, "ã‚¿ã‚¤ãƒˆãƒ«" %>
    <%= f.search_field :book_title_cont %>
 
    <%# `ã‚«ãƒ©ãƒ å_eq`ã¨ã™ã‚‹ã“ã¨ã§ã€ã‚«ãƒ©ãƒ ã«å¯¾ã—ã¦å®Œå…¨ä¸€è‡´æ¤œç´¢ãŒã§ãã‚‹ %>
    <%= f.label :start_date_gteq, "èª­æ›¸é–‹å§‹æ—¥" %>
    <%= f.date_field :start_date_gteq %>

    <%= f.label :target_date_lteq, "èª­äº†ç›®æ¨™æ—¥" %>
    <%= f.date_field :target_date_lteq %>
    <div class="row py-2 border-top">
      <div class="col-4 my-auto">

    <%= f.label :status_eq, "é”æˆçŠ¶æ³" %>
    <%= f.search_field :status_eq %>

    <%= f.submit "æ¤œç´¢" %>
    <div class="row py-2 border-top">
    </div>

    <%# æ¤œç´¢çµæžœã¨æ¤œç´¢ãƒ•ã‚©ãƒ¼ãƒ ã‚’ã‚¯ãƒªã‚¢ã™ã‚‹ %>
    <%= link_to "ãƒªã‚»ãƒƒãƒˆ", goals_path %>  
    <% end %>

    <%# ã‚½ãƒ¼ãƒˆã®ãƒªãƒ³ã‚¯ã€‚ã“ã®ãƒªãƒ³ã‚¯ã‚’ã‚¯ãƒªãƒƒã‚¯ã™ã‚‹ã¨book_titleå±žæ€§ã§ã‚½ãƒ¼ãƒˆã•ã‚Œã‚‹ %>
    <%= sort_link(@search, :book_title) %>
    <%# ã‚½ãƒ¼ãƒˆã®ãƒªãƒ³ã‚¯ã€‚ã“ã®ãƒªãƒ³ã‚¯ã‚’ã‚¯ãƒªãƒƒã‚¯ã™ã‚‹start_dateå±žæ€§ã§ã‚½ãƒ¼ãƒˆã•ã‚Œã‚‹ %>
    <%= sort_link(@search, :start_date) %>
    <%# ã‚½ãƒ¼ãƒˆã®ãƒªãƒ³ã‚¯ã€‚ã“ã®ãƒªãƒ³ã‚¯ã‚’ã‚¯ãƒªãƒƒã‚¯ã™ã‚‹target_dateå±žæ€§ã§ã‚½ãƒ¼ãƒˆã•ã‚Œã‚‹ %>
    <%= sort_link(@search, :target_date) %>
    <%# ã‚½ãƒ¼ãƒˆã®ãƒªãƒ³ã‚¯ã€‚ã“ã®ãƒªãƒ³ã‚¯ã‚’ã‚¯ãƒªãƒƒã‚¯ã™ã‚‹statuså±žæ€§ã§ã‚½ãƒ¼ãƒˆã•ã‚Œã‚‹ %>
    <%= sort_link(@search, :status) %>
    

<% @goals.each do |goal| %>
<div>
  <h3><%= goal.book.title %></h3>
  <p>é–‹å§‹æ—¥: <%= goal.start_date %></p>
  <p>ç›®æ¨™æ—¥: <%= goal.target_date %></p>
  <p>1æ—¥ãƒšãƒ¼ã‚¸æ•°: <%=goal.pages_per_day %></p>
</div>
<% end %> -->
